@page "/candidatos"

<div class="container-xl mt-5">
    <RadzenCard>
        <div class="row">
            <div class="col">
                <h1>Candidatos</h1>
            </div>
            <div class="col">
                <a style="text-decoration:none;" href="candidatos/nuevo-candidato/0" class="btn btn-success float-right">Nuevo candidato</a>
            </div>
        </div>
        <div class="row border-top">
            <div class="col">
                <Candidatos_table />
            </div>
        </div>
    </RadzenCard>
</div>

@code {

}
