<footer class="bg-primary text-center mt-3 text-white">
    <div class="container p-4">
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" style="border-radius: 50%;">
                <i class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" style="border-radius: 50%;">
                <i class="fab fa-twitter"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" style="border-radius: 50%;">
                <i class="fab fa-instagram"></i>
            </a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" style="border-radius: 50%;">
                <i class="fab fa-linkedin-in"></i>
            </a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" style="border-radius: 50%;">
                <i class="fab fa-github"></i>
            </a>
        </section>

        <section class="mb-4 ">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <img src="https://optic.gob.do/nortic/templates/nortic/images/footerLines.png" class="img-responsive">
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <img src="https://images.visitarepublicadominicana.org/escudo-de-republica-dominicana.jpg" width=120 height=100>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <img src="https://optic.gob.do/nortic/templates/nortic/images/footerLines.png" class="img-responsive">
                    </div>
                </div>
            </div>
            <br /><br />
            <div class="container">
                 <div class="row">
                    <div class="col-md-4 col-sm-4"></div>
                    <div class="col-md-4 col-sm-4">
                        <div style="align-items: center; justify-content: center;">
                            Terminos de Uso | Políticas | Preguntas Frecuentes
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <img src="https://optic.gob.do/nortic/images/sellos/optic-sello-a2-2013/04-optic.png"class="ml-1" width="83" height="100" alt="Sello de certificación de la A2:2013 con el NIU 13001-04-A20D01">
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="text-center p-3" style="background-color: #023877;">
        © 2022 Copyright. Todos los derechos reservados
    </div>
</footer>

@code {

}
