@inject IJSRuntime Js
<nav id="myTopNavbar" class="top-navbar navbar navbar-expand-lg" style="background: #023877;">
  <div class="container-fluid">
      <div class="brand-container">
          <RadzenImage
          Path="https://scontent.fhex5-2.fna.fbcdn.net/v/t1.6435-9/49656237_941670379357742_8440506915926048768_n.png?_nc_cat=109&ccb=1-5&_nc_sid=174925&_nc_ohc=zkg8tIqNk7AAX-lbDzG&_nc_ht=scontent.fhex5-2.fna&oh=00_AT_NwEb1as807UsatEUq1utQLwGVqVTFHmOGGPVs3hZ4vQ&oe=62520EE2"
          Style="width: 50px; height:50px; margin-right: 10px; border-radius: 10px;"
          ></RadzenImage>
          <a class="navbar-brand text-white">Just Quality HR</a>
      </div>
  </div>
</nav>
