@inherits LayoutComponentBase
@inject NavigationManager navigation
<PublicNavbar />
<div id="main">
    <div class="container-xl">
        @Body
    </div>
</div>
@if(!@route.Contains("login")) {
    <MainFooter />
}

@code {
    string route;

    protected override void OnInitialized()
    {
        route = navigation.Uri.ToString();
    }
}

