@inherits LayoutComponentBase
@inject NavigationManager navigation
<PublicNavbar />
<div id="main" style="height:100vh;">
    <div class="container-xl h-100">
        @Body
    </div>
</div>

@if(!@route.Contains("login")) {
    <MainFooter />
}

@code {
    string route;

    protected override void OnInitialized()
    {
        route = navigation.Uri.ToString();
    }
}

