@page "/home"
<<<<<<< HEAD
@inject NavigationManager Navigate
@inject ILocalStorageService localStorageService

=======
@using ADMRH.Pages.Usuarios
@inject NavigationManager Navigate
@inject ILocalStorageService localStorageService
@using ADMRH.Pages.Candidatos
>>>>>>> a5001a07adaa5f33667098832c471a1decf94ef3
<h1 class="mt-5">Bienvenido</h1>
@if (total_UCV != null)
{
<div class="row">
    @if (userClaims != null)
    {
        if (userClaims.Rol.Equals("Administrador"))
        {
            <div class="col">
                <RadzenCard Style="border-left: 4px solid #023877">
                    <h1>@total_UCV.CantidadTUsuarios</h1>
                    <label>Usuarios existentes</label>
                </RadzenCard>
            </div>
        }
    }

    <div class="col">
        <RadzenCard Style="border-left: 4px solid #023877">
            <h1>@total_UCV.CantidadTCandidatos</h1>
            <label>Candidatos en proceso</label>
        </RadzenCard>
    </div>
    <div class="col">
        <RadzenCard Style="border-left: 4px solid #023877">
            <h1>@total_UCV.cantidadTVacantes</h1>
            <label>Vacantes disponibles</label>
        </RadzenCard>
    </div>
</div>

}
<div class="col pl-0 ml-0 pr-0 mr-0 mt-5">
    <RadzenCard>
        @if (userClaims != null)
        {
            @if (userClaims.Rol.Equals("Administrador"))
            {
                <Usuarios_table IdUsuario="0" />
            }
            else
            {
                <div class="row">
                    <div class="col">
                        <h1>Candidatos</h1>
                    </div>
                </div>
                <Candidatos_table />
            }
        }
    </RadzenCard>
</div>
