@page "/usuarios/nuevo-usuario"


<div class="container-sm mt-5">
    <RadzenCard Style="width:60%; margin:auto;">
        <h1>Registro de usuarios</h1>
        <div class="form-group border-top">
            <label class="mt-2">Cedula</label>
            <input class="form-control" />
        </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input class="form-control" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Apellido</label>
                        <input class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Telefono</label>
                        <input class="form-control" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Correo</label>
                        <input class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Departamento</label>
                        <input class="form-control" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Rol</label>
                        <input class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Direccion</label>
                <textarea class="form-control"></textarea>
            </div>

        <button class="btn btn-success mt-3">Guardar</button>
      
    </RadzenCard>
</div>

@code {

}
