@page "/usuarios"

<div class="container-xl mt-5">
    <RadzenCard>
        <div class="row">
            <div class="col">
                <h1>Vacantes</h1>
            </div>
            <div class="col">
                <a href="/usuarios/nuevo-usuario" style="text-decoration:none;" class="btn btn-success float-right">Nuevo usuario</a>
            </div>
        </div>
        <div class="row border-top">
            <div class="col mt-2">
                <Usuarios_table />
            </div>
        </div>
    </RadzenCard>
</div>

@code {

}
