@page "/usuarios/view-user"



<RadzenCard class="mt-5">
    <div class="row">
        <div class="col">
            <h1>Informacion general</h1>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-success d-inline mt-1  float-right"><i class="fas fa-user-edit"></i></button>
            <button class="btn btn-warning d-inline mr-1 mt-1 float-right"><i class="fas fa-user-edit"></i></button>
        </div>
    </div>
    <div class="row border-top">
        <div class="col-sm-2 mt-2 pr-1">
            <div class="img">

            </div>
        </div>
        <div class="col mt-2">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Cedula</label>
                        <input class="form-control" type="text"/>
                    </div>
                    <div class="form-group">
                        <label>Nombre</label>
                        <input class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label>Apellido</label>
                        <input class="form-control" type="text" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Departamento</label>
                        <input class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label>Correo</label>
                        <input class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label>Telefono</label>
                        <input class="form-control" type="text" />
                    </div>
                </div>
            </div>
            <div class="col pl-0 pr-0">
                <div class="form-group">
                    <label>Direccion</label>
                    <textarea class="form-control" style="height:60px;"></textarea>
                </div>
            </div>
           
        </div>
        <div class="col-sm-2" style="margin-top:34px">
            <RadzenCard>
                <h1 style="font-size:50px;" class="mb-0">34</h1>
                <label>Vacantes creadas</label>
            </RadzenCard>
            <RadzenCard class="mt-1">
                <h1 style="font-size:50px;" class="mb-0">34</h1>
                <label>Candidatos gestionados</label>
            </RadzenCard>
        </div>
    </div>

</RadzenCard>
<RadzenCard class="mt-4">
    <h2>Usuarios gestionados</h2>
    <div class="row border-top">
        <div class="col">

        </div>
    </div>
</RadzenCard>
<RadzenCard class="mt-4">
    <h2>Vacantes creadas</h2>
    <div class="row border-top">
        <div class="col">

        </div>
    </div>
</RadzenCard>
 <style>
     .img {
         width: 100%;
         height: 310px;
         background-image: url(https://cdn-icons.flaticon.com/png/512/506/premium/506185.png?token=exp=1647107903~hmac=eecf2b16293b582d02802eef65ed8544);
         background-position: center;
         background-repeat: no-repeat;
         background-size: 100% 100%;
     }
 </style>
@code {
    
}
